@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brack: #121821;
  --brack-lighten: #222638;
  --light-brack: #31374f;
  --yellow: #e3b52b;
  --yellow-lighten: #e3bd54;
  --light-yellow: #e3c77b;
  --blue: #4964c9;
  --blue-lighten: #8c9dde;
  --light-blue: #ced5f2;
  --liner-gradient-lighten: linear-gradient(
    45deg,
    var(--blue-lighten),
    var(--yellow-lighten)
  );
  --black-gradient: linear-gradient(45deg, var(--brack), var(--light-brack));
  --liner-gradient: linear-gradient(45deg, var(--blue), var(--yellow));
  --red: #ee5555;
  --white: #ffffff;
  --background: var(--black-gradient);
  --foreground: var(--light-yellow);
}

body {
  color: var(--foreground);
  background: var(--background);
  height: 100vh;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Zen Kaku Gothic New", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
#mapContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 14px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 10px;
  }

  button {
    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
